extends layout

block content
	.pb-2.mt-2.mb-4.border-bottom
		block content
			hr
			h3.example-hr 
			hr

			each file in linden
				img.example-image(src='public/images/Linden/' + file)

		br
		block content
			hr
			h3.example-hr 
			hr

			each file in tuscany
				img.example-image(src='public/images/tuscany/' + file)

		br
		block content
			hr
			h3.example-hr 
			hr

			each file in golfview
				img.example-image(src='public/images/golfview/' + file)

		br
		block content
			hr
			h3.example-hr 
			hr

			each file in queens
				img.example-image(src='public/images/queens/' + file)

		br
		block content
			hr
			h3.example-hr 
			hr

			each file in glenoak
				img.example-image(src='public/images/glenoak/' + file)

		br
		block content
			hr
			h3.example-hr 
			hr

			each file in fairhope
				img.example-image(src='public/images/fairhope/' + file)


