extends layout

block content
  br
  h1 Broad Vision. Careful Thought. Hand-Crafted Design.
  hr
  br

  p.lead Since 1993 AR Builders has been one of the premier builders in Glenview Illinois and the surrounding North Shore area providing our clients with quality craftsmanship. We base our business principles on integrity, innovation, strict quality control, and providing value. Our motivation is driven by passion for construction and commitment to excellence.

  br
  div.home-div
    img.home-image(src='public/images/Linden/929linden_livingroom2.jpg')
    img.home-image(src='public/images/tuscany/Tuscany%20Court%201412%20MLS009.jpg')
    img.home-image(src='public/images/fairhope/front1_825fairhope[1].jpg')
    img.home-image(src='public/images/golfview/livingroom1_1105golfview1-sm.jpg')
    img.home-image(src='public/images/tuscany/Tuscany%20Court%201412%20MLS005.jpg')
    img.home-image(src='public/images/tuscany/16_1412tuscany_wineroom.jpg')
    br
    br