<br>
<h1>Broad Vision. Careful Thought. Hand-Crafted Design.</h1>
<hr>
<br>

<p class="lead">Since 1993 AR Builders has been one of the premier builders in Glenview Illinois and the surrounding North Shore area providing our clients with quality craftsmanship. We base our business principles on integrity, innovation, strict quality control, and providing value. Our motivation is driven by passion for construction and commitment to excellence.</p>

<br>
<div class="home-div">
  <img class="home-image" src="/images/Linden/929linden_livingroom2.jpg">
  <img class="home-image" src="/images/tuscany/Tuscany%20Court%201412%20MLS009.jpg">
  <img class="home-image" src="/images/fairhope/front1_825fairhope[1].jpg">
  <img class="home-image" src="/images/golfview/livingroom1_1105golfview1-sm.jpg">
  <img class="home-image" src="/images/tuscany/Tuscany%20Court%201412%20MLS005.jpg">
  <img class="home-image" src="/images/tuscany/16_1412tuscany_wineroom.jpg">
  <br><br>
</div>
